<%= render "shared/header" %>

<div class = "recipe-details">
  <div class = "dish">
    <div class = "dish-name" >
      <h2><%= @recipe.dish_name %></h2>
        <div class = "dish-favo">
          <% if current_user.favorites.exists?(recipe_id: @recipe.id) %>
            <%= form_with url: recipe_favorite_path(@recipe,current_user.favorites.find_by(recipe_id: @recipe.id)), method: :delete, remote: true, id: "dish_favo_form" do |f| %>
              <%= image_submit_tag("pheart.png",width:"40",height:"40", id: "favorite_btn" ) %>
            <% end %>
          <% else %>
            <%= form_with url: recipe_favorites_path(@recipe), method: :post, remote: true, id: "dish_favo_form" do |f| %>
              <%= image_submit_tag("wheart.png", width: "40", height: "40", id: "favorite_btn") %>
            <% end %>
          <% end %>
        </div>
    </div>

      <div class= "image-judgment">
        <% if @recipe.recipe_image.present? %>
          <div class = "recipe-image">
            <%= image_tag @recipe.recipe_image, :size =>'150x170' , class: "recipe-img" %>
          </div>
        <% end %>
      </div>

    <div class = "dish-details">
      <div class = "material">
        <h3>材料と分量</h3>
          <p><%= simple_format(@recipe.material) %></p> 
      </div>

      <div class = "dish-recipe">
        <h3>作り方</h3>
          <p><%= simple_format(@recipe.dish_recipe) %></p>
      </div>

      <div class = "dish-nutrients">
        <h3>栄養情報</h3>
          <% if @recipe.recipe_nutrients.present? %>
            <p><%= simple_format(@recipe.recipe_nutrients) %></p>
          <% else %>
            <p>栄養情報は現在登録されていません。</p>
          <% end %>
      </div>

      <div class = "recipe-ingredients">
        <h3>使用している食材</h3>
          <% if @ingredients.any? %>
            <ul>
              <% @ingredients.each do |ingredient| %>
            <li>
              <%= link_to ingredient.name, ingredient_path(ingredient) %> <!-- 食材ページへのリンク -->
            </li>
              <% end %>
            </ul>
          <% else %>
            <p>食材情報は現在登録されていません。</p>
          <% end %>
      </div>
    </div>
  </div>
</div>
