  <%= render "shared/header" %>

  <div class = "column-main">
    <div class = "column-head" >
      <div class = "column-title">
        <h2><%= @column.title %></h2>
        <div class = "column-favo">
          <% if user_signed_in? %>
            <% if current_user&.favorites&.exists?(column_id: @column.id) %>
              <%= form_with url: column_favorite_path(@column,current_user.favorites.find_by(column_id: @column.id)), method: :delete, remote: true, id: "column_favo_form" do |f| %>
                <%= image_submit_tag("pheart.png",width:"40",height:"40", id: "favorite_btn" ) %>
              <% end %>
            <% else %>
              <%= form_with url: column_favorites_path(@column), method: :post, remote: true, id: "column_favo_form" do |f| %> 
                <%= image_submit_tag("wheart.png", width: "40", height: "40", id: "favorite_btn") %>
              <% end %>
            <% end %>
          <% else %>
          <% end %>
        </div>
      </div>
    </div>
    <div class = "column-body" >
      <%= @column.news %>
    </div>

    <div class = "back">
      <%= link_to "コラム一覧" ,columns_path ,class: "column-back"%>
    </div>
  </div>

  