<%= render "shared/header" %>

<div class = "ingredient">
  <div class = "ingredient-name">
    <b><%= @ingredient.name %></b>
  </div>

  <%= image_tag @ingredient.image.to_s, :size =>'150x170' , class: "ingredient-image" %>
  <div class = "ingredient-detail">
    <p>小話</p>
      <%= @ingredient.detail %>
  </div>

  <div class = "ingredient-recipes">
    <div class = "recipes-lists">
      <p><%= @ingredient.name%> を使ったレシピ</p>
      
      <%# その材料を使ったものだけ表示させたい・どうする？　一旦後で　#%>
    
    </div>
  </div>
    

</div>