  <%= render "shared/header" %>
    <main class="main">
        <h1></h1>
        <p>レシピを見つけよう</p>

        <div class="section-label">食材から探す</div>
          <%= form_with(url: search_ingredients_path, local: true, method: :get, class: "search-form") do |form| %>
            <div class = "search-bar" >
              <div class = "search-field">
                <%= form.text_field :keyword, placeholder: "食材を入力してください" %>
              </div>
                <%= form.submit "検索", class: "search-btn" %>
            </div>
          <% end %>


        <div class="section-label">摂りたい栄養から探す</div>
          <div class ="buttons">
          <% @nutrients.each do |nutrient| %>
            <button><%= link_to nutrient.label , ingredient_path(nutrient.id) %></button>
          <% end %>
          </div>

        <div class="section-label">１食分の献立を探す</div>
        <div class="menu-button">
            <button>一食献立</button>
        </div>  

          <div class="column-button">
            <button><%= link_to "コラム" ,columns_path %></button>
          </div>
        </div>
    </main>